body{

	background-color: rgba(36, 96, 104,0.3);
}

header{

	
	text-align: justify;
}

li{
	color: black;
	display: inline-block;
	font-family: 'Libre Baskerville', serif;
	font-size: 45px;
}


.nav-item{

	font-size: 20px;
	border-style: hidden; 
	margin : 7px;
	border-color: rgba(170, 121, 57,0.5);
}

.nav-link{

	color: rgb(136, 45, 96);
}